/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
  font-family: 'Open Sans';
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  /* font-family: 'Open Sans'; */
  font-weight: bold;
  padding: 20px;
}

.body-text {
  font: 'Open Sans' light;
}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 380px;
}

/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  flex-grow: 2;
}

.idea-cards {
  flex-grow: 3;
}

/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
    width: 400px;
  }

  .nav-menu{
    height: 40px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2, 38%);
    padding: 3%;
    
  }

  .header-text {
    font-size: 90%;
    padding-left: 0px;
    align-self: end;
    padding-bottom: 5%;
  }

  .open-nav-image{
    height: 40%;
    align-self: end;
    padding-bottom: 5%;
  }

  .idea-form {
    flex-grow: 1;
    padding: 3% 5% 5% 5%;
    display: flex;
    flex-direction: column;
  }

  .title, .body-title{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2% 0% 2% 0%;
    margin: 4% 0% 0% 0%;
  }

  .text-input{
    border-radius: 3px;
    font-size: 1em;
    border: 1.5px solid #4b4b80;
    padding: 2% 0% 2% 0%;
  }

  .body-input{
    background-color: white;
    border-radius: 3px;
    font-size: smaller;
    border: 1.5px solid #4b4b80;
    height: 80px;
  }

  .search-bar{
    display: grid;
    grid-template-columns: 12% 88%;
  }

  .save-button{
    background-color:  #383861;
    border: none;
    border-radius: 2px;
    color: #EAEAF4;
    height: 20%;
    margin: 5% 0% 5% 0%;
    font-size: 1.3em;
  }


  .search-bar{
    display: grid;
    grid-template-columns: 12% 88%;
    font-weight: 600;
    padding: 0%;
  }
  
  .search-img {
    height: 29px;
    background-color: #4b4b80;
    padding: 8px;
  }

  .search-input{
    height: 40px;
    margin: 0;
    border-radius: 0px 3px 3px 0px;
    font-size: smaller;
    border: 1.5px solid #4b4b80;
  }
  
  .users-idea{
    border: 1.5px solid #383861;
    margin: 3%;
    width: 90%;
  }

  .user-controls{
    background-color: #1f1f3c;
    display: flex;
    justify-content: space-between;
  }
  
  .idea-img, .close-menu-img{
    height: 30px;
  }

  .add-comment{
    background-color: #5356A4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
  }

  .idea-cards button{
    background: transparent;
    border: none;
    height: 41px;
    margin: 0px;
    padding: 0;
    width: 14%;
  }

  .main-idea{
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 117%;
    margin: 5% 4% 5% 4%;
  }
  
  .idea-title{
    font-weight: 600;
    padding-bottom: 5%;
  }
  
  .idea-text{
    font-weight: 300;
  }
  
  .nav-view-container{
    display: flex;
    flex-direction: column;
    padding: 4%;
  }

  .show-starred-button{
    border: none;
    background-color: #5356a4;
    color: #ffffff;
    padding: 3%;
    font-size: 1.4em;
  }

  .nav-view-header{
    color: #ffffff;
    align-self: center;
    font-size: 1.3em;
  }

  .nav-view-subheader{
    color: #a9aad2;
    padding: 3% 0% 7% 0%;
  }

  .close-nav-view{
    height: 65px;
    align-self: start;
  }

  .top-nav-bar{
    display: grid;
    grid-template-columns: 40% 20%;
  }
}
