/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 20px;
}

.body-text {
  font: 'Open Sans' light;
}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 380px;
}

/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  flex-grow: 2;
}

.idea-cards {
  flex-grow: 3;
}

/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
    width: 280px;
  }

  .nav-menu{
    height: 40px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2, 38%);
    padding: 3%;
    
  }

  .header-text {
    font-size: 90%;
    padding-left: 0px;
    align-self: end;
    padding-bottom: 5%;
  }

  .open-nav-image{
    height: 40%;
    align-self: end;
    padding-bottom: 5%;
  }

  .idea-form {
    flex-grow: 1;
    padding: 3% 5% 5% 5%;
    /* width: 91%; */
  }

  .ideas h3, input, button {
    font-weight: 600;
    margin: 2%;
  }

  .text-input{
    border-radius: 3px;
    font-size: 1em;
    border: 1.5px solid #4b4b80;
  }

  .body-input{
    background-color: white;
    border-radius: 3px;
    font-size: smaller;
    border: 1.5px solid #4b4b80;
    height: 80px;
  }
}
